<div class="contenedor">
    <form class="form" [formGroup]="miFormulario" (ngSubmit)="login()">
        <div class="header-container">
            <img src="/assets/images/naruto_login.jpg" class="image-login" alt="login">
            <h1 class="title"> Iniciar sesión </h1>
        </div>

        <mat-form-field appearance="outline">
            <mat-label> Correo </mat-label>
            <input matInput formControlName="email" autocomplete="off" placeholder="Usuario" >
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label> Contraseña </mat-label>
            <input matInput formControlName="password" autocomplete="off" placeholder="Contraseña" type="{{ hide ? 'text' : 'password' }}">
            <mat-icon matSuffix (click)="showPassword()"> {{ hide ? 'visibility' : 'visibility_off' }} </mat-icon>
        </mat-form-field>

        <button mat-raised-button class="submit-button" type="submit" [disabled]="miFormulario.invalid">
            Iniciar sesión
        </button>

        <div class="link">
            <span> ¿No tienes una cuenta? </span>
            <a routerLink="../register"> Crea una aquí </a>
        </div>
    </form>
</div>