.container {
    margin: 1rem;
}

.toolbar {
    background-color: var(--orange);
    display: flex;
    justify-content: space-between;

    &-right {
        display: flex;
        align-items: center;
    }
}

.mat-toolbar-single-row {
    padding-left: 16px;
    padding-right: 8px;
}

.spacer {
    width: 1.5rem;
}

.username {
    font-family: 'RobotoBold';
    font-size: 14px;
    margin-right: 1.5rem;
}

.image-item {
    margin-left: .5rem;
    margin-right: 1rem;
}

.image-item-out {
    margin-right: .75rem;
}


.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    mat-toolbar {
        background-color: var(--orange);

        .image-logo {
            background-image: url('/assets/images/naruto-logo.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100px;
            max-width: 100%;
            width: 100px;
        }
        
        .sidenav-title-page {
            display: flex;
            cursor: pointer;
            justify-content: center;
        }
    }

    .sidenav-footer {
        bottom: 0;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        width: 100%;
    }
}

mat-nav-list {
    padding: 0;
    width: 150px;

    a {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: .5rem 0rem;
        width: 100%;

        :nth-child(2) {
            margin-left: 1rem;
        }
    }
}

.separator {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 0;
}