<div class="hero">
    <div class="hero__left">
        <h2>Bienvenido a <span>Naruto App</span></h2>
        <p>Un fan page hecho para fans</p>
        <button class="btn">
            Ver ninjas
            <img src="assets/images/ninja.png">
        </button>
    </div>
    <div class="hero__right">
        <img src="assets/images/konoha.jpg" class="img">
    </div>
</div>

<div class="advertising">
    <img src="assets/images/espada-ninja.png">
    Puedes encontrar lo siguiente
</div>

<div class="primary">
    <div>
        <img src="assets/images/kakashi.jpg">
        <p>Frases de los ninjas</p>
    </div>
    <div>
        <img src="assets/images/bingo.png">
        <p>Lista de ninjas</p>
    </div>
    <div>
        <img src="assets/images/tecnica.jpg">
        <p>Técnicas de los ninjas</p>
    </div>
</div>

<div class="secondary">
    <div class="secondary__title">
        También puedes colaborar con nosotros
        <img src="assets/images/bomb.png">
    </div>
    
    <div class="secondary__content">
        <div class="secondary__content__left">
            <img src="assets/images/naruto_personajes.jpg" class="img">
        </div>
        <div class="secondary__content__right">
            <button class="btn">Agrega un ninja</button>
        </div>
    </div>
</div>
